@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "a";
  src: url(../font/6538fb7e6400c00eb7ecf5f1_Huben-Regular.otf) format("opentype");
  font-weight: 400;
}
:root {
  --black: #000;
  --bg-color: #151515;
  --yellow: #fdc609;
  --white: white;
  --white-2: white;
  --black-2: black;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

#wrapper {
  position: relative;
}

.padding-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 32px;
}
@media (max-width: 767px) {
  .padding-box {
    padding: 0 16px;
  }
}

.btn-shortcut {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "a", sans-serif;
  padding: 8px 20px;
  border: 1px solid var(--yellow);
  color: var(--yellow);
  background-color: rgba(56, 152, 236, 0);
}

section {
  padding-top: 160px;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.2; /*수정*/
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Epilogue", sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9.6rem;
  padding-top: 9.6rem;
  padding-bottom: 3.2rem;
  position: sticky;
  bottom: -15rem;
  background-color: var(--bg-color);
}
@media (max-width: 991px) {
  #footer {
    gap: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: -15rem;
  }
}
@media (max-width: 767px) {
  #footer {
    gap: 4rem;
    padding-top: 4rem;
    bottom: -20rem;
  }
}

.footer-box {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
  color: var(--yellow);
  font-family: "a", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .footer-box.row1 img {
    margin-bottom: 6.4rem;
  }
}
.footer-box.row1 .f-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8rem;
}
.footer-box.row1 .f-link .link {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--yellow);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  text-decoration: none;
  transition: -webkit-text-stroke-color 0.5s, color 0.5s;
}
.footer-box.row1 .f-link .link:hover {
  -webkit-text-stroke-color: var(--yellow);
  color: rgba(0, 0, 0, 0);
}
@media (max-width: 991px) {
  .footer-box.row1 .f-link {
    gap: 2.4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
  }
}
.footer-box.row2 strong {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.4rem;
}
.footer-box.row2 .btn-shortcut {
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: var(--black);
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  font-weight: 900;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-box.row2 .btn-shortcut:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--yellow);
}
.footer-box.rowlast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}
@media (max-width: 991px) {
  .footer-box.rowlast {
    gap: 32px;
  }
}
.footer-box.rowlast .f-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991px) {
  .footer-box.rowlast .f-link {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
@media (max-width: 767px) {
  .footer-box.rowlast .f-link {
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-box.rowlast .link-sm {
  font-family: "Epilogue", sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--yellow);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  text-decoration: none;
  transition: -webkit-text-stroke-color 0.5s, color 0.5s;
}
.footer-box.rowlast .link-sm:hover {
  -webkit-text-stroke-color: var(--yellow);
  color: rgba(0, 0, 0, 0);
}
.footer-box.rowlast .f-loop {
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .footer-box.rowlast .f-loop {
    display: none;
  }
}
.footer-box.rowlast .f-loop .loop-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 2;
}
.footer-box.rowlast .f-loop .loop-frame .frame-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-box.rowlast .f-loop .loop-frame .frame-box li:first-child {
  margin-left: -680px;
}
.footer-box.rowlast .f-loop .loop-frame .frame-box li:last-child {
  margin-left: -375px;
}
.footer-box.rowlast .f-loop .loop-frame .frame-box img {
  width: 80%;
  height: auto;
}
.footer-box.rowlast .f-loop .loop-bg img {
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 96%;
  display: block;
  position: absolute;
  top: 1%;
  bottom: 0;
  left: 0%;
  right: 0%;
}
.footer-box.rowlast .f-policy {
  font-family: "Epilogue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991px) {
  .footer-box.rowlast .f-policy {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
@media (max-width: 767px) {
  .footer-box.rowlast .f-policy {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.footer-box.rowlast .f-policy .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}
@media (max-width: 767px) {
  .footer-box.rowlast .f-policy .col-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 1.6rem;
  }
}
.footer-box.rowlast .f-policy .col-left .copyright {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.45rem;
}
.footer-box.rowlast .f-policy .col-left .caption {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.45rem;
}
.footer-box.rowlast .f-policy .col-right .link-wttm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.8rem;
}
.footer-box.rowlast .f-policy .col-right .link-wttm .text-box {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 1.2rem;
  overflow: hidden;
}
.footer-box.rowlast .f-policy .col-right .link-wttm .text {
  text-transform: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s;
  transition: 1s;
}
.footer-box.rowlast .f-policy .col-right .link-wttm .text .spacemono {
  font-weight: bold;
}
@media (max-width: 991px) {
  .footer-box.rowlast .f-policy .col-right .link-wttm .text {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: none;
    transition: none;
  }
}
.footer-box.rowlast .f-policy .col-right .link-wttm img {
  margin-left: 4rem;
  -webkit-animation: rotate_image 6s linear infinite;
          animation: rotate_image 6s linear infinite;
}
@-webkit-keyframes rotate_image {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate_image {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#header .gnb {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 99;
  mix-blend-mode: difference;
  padding: 0 32px;
  overflow: hidden;
}
@media (max-width: 767px) {
  #header .gnb {
    padding: 0 16px;
  }
}
#header .gnb-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
}
#header .logo a {
  background-color: rgba(0, 0, 0, 0);
}
#header .nav-burger {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#header .nav-burger.on {
  background-color: rgb(253, 198, 9);
}
#header .nav-burger.on .open {
  visibility: hidden;
  opacity: 0;
}
#header .nav-burger.on .close {
  visibility: visible;
  opacity: 1;
}
#header .nav-burger .close {
  position: absolute;
  top: 13%;
  bottom: 13%;
  left: 13%;
  right: 13%;
  background: var(--yellow);
  visibility: hidden;
  opacity: 0;
}
#header .nav-popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--yellow);
  z-index: 98;
  width: 100%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}
#header .nav-popup.on {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
#header .nav-popup .pop-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
  margin-top: 96px;
  padding: 0 96px;
}
@media (max-width: 767px) {
  #header .nav-popup .pop-wrap {
    padding: 0 16px;
  }
}
#header .nav-popup .pop-wrap .pop-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
  text-align: center;
  overflow: hidden;
}
#header .nav-popup .pop-wrap .pop-box .pop-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
#header .nav-popup .pop-wrap .pop-box .pop-row .text {
  color: var(--black);
  font-weight: 900;
}
#header .nav-popup .pop-wrap .pop-box .pop-row .link {
  font-family: "a", sans-serif;
  text-transform: uppercase;
  color: var(--black);
  font-size: 5rem;
  font-weight: 400;
  line-height: 61px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  text-decoration: none;
  transition: -webkit-text-stroke-color 0.5s, color 0.5s;
}
#header .nav-popup .pop-wrap .pop-box .pop-row .link:hover {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: var(--black);
  outline: 0;
}
@media (max-width: 767px) {
  #header .nav-popup .pop-wrap .pop-box .pop-row .link {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }
}
#header .nav-popup .pop-wrap .pop-info {
  font-family: "Epilogue", sans-serif;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}
#header .nav-popup .pop-wrap .pop-info .pop-sns {
  width: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2.4rem;
}
#header .nav-popup .pop-wrap .pop-info .pop-sns .sns-link {
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  text-decoration: none;
  transition: -webkit-text-stroke-color 0.5s, color 0.5s;
}
#header .nav-popup .pop-wrap .pop-info .pop-sns .sns-link:hover {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: var(--black);
  outline: 0;
}
#header .nav-popup .pop-wrap .pop-info .pop-sns .sns-link:last-of-type {
  min-width: 208px;
}
#header .nav-popup .pop-wrap .pop-info .pop-btn {
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  font-weight: 900;
  border: 1px solid var(--black);
  background-color: var(--black);
  color: var(--yellow);
  padding: 8px 20px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#header .nav-popup .pop-wrap .pop-info .pop-btn:hover {
  border-color: var(--black);
  color: var(--black);
  background-color: rgba(0, 0, 0, 0);
}
#header .nav-popup .pop-wrap .pop-info .pop-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}
#header .nav-popup .pop-wrap .pop-info .pop-customer .customer-link {
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  text-decoration: none;
  transition: -webkit-text-stroke-color 0.5s, color 0.5s;
}
#header .nav-popup .pop-wrap .pop-info .pop-customer .customer-link:hover {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: var(--black);
  outline: 0;
}
@media (max-width: 991px) {
  #header .nav-popup .pop-wrap .pop-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.2rem;
  }
  #header .nav-popup .pop-wrap .pop-info .pop-sns {
    display: none;
  }
  #header .nav-popup .pop-wrap .pop-info .pop-customer {
    display: none;
  }
}
@media (max-width: 767px) {
  #header .nav-popup .pop-wrap .pop-info .pop-sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  cursor: none;
}
@media (max-width: 991px) {
  .loading {
    cursor: pointer;
  }
}

.loading-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}
.loading-wrap .loading-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.loading-wrap .loading-bg video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.loading-wrap .loading-title {
  color: var(--yellow);
  text-align: center;
  mix-blend-mode: difference;
  width: 900px;
  text-transform: uppercase;
  font-family: "a", sans-serif;
  font-size: 6.7rem;
  line-height: 7.5rem;
}
@media (max-width: 991px) {
  .loading-wrap .loading-title {
    z-index: 10;
    width: 480px;
    font-size: 5.1rem;
    line-height: 6.1rem;
    position: relative;
    margin-bottom: 4.8rem;
  }
}
@media (max-width: 767px) {
  .loading-wrap .loading-title {
    width: 400px;
    font-size: 3.8rem;
    line-height: 4.6rem;
  }
}
.loading-wrap .loading-explorer {
  display: none;
}
@media (max-width: 991px) {
  .loading-wrap .loading-explorer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 80px;
  }
}
.loading-wrap .loading-explorer .ex-deco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.loading-wrap .loading-explorer .ex-text {
  color: var(--yellow);
  margin: 0 8px;
  text-transform: uppercase;
  font-family: "a", sans-serif;
  font-weight: 800;
}

.loading-cursor {
  z-index: 2;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
}
.loading-cursor .cursor-deco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.loading-cursor .cursor-text {
  color: var(--yellow);
  margin: 0 8px;
  text-transform: uppercase;
  font-family: "a", sans-serif;
  letter-spacing: -1px;
  font-weight: 800;
}
@media (max-width: 991px) {
  .loading-cursor {
    display: none;
  }
}

#main {
  position: relative;
  z-index: 4;
}

.sc-hero {
  height: 100vh;
  position: relative;
  padding-top: 0;
}
.sc-hero .hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 3.2rem;
}
.sc-hero .hero-title {
  margin: 0 auto;
}
.sc-hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.2rem;
  margin-bottom: 32px;
  width: 100%;
}
@media (max-width: 767px) {
  .sc-hero .hero-content {
    gap: 2.4rem;
  }
}
.sc-hero .hero-content .btn-shortcut {
  font-family: "Epilogue", sans-serif;
  font-weight: 900;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sc-hero .hero-content .btn-shortcut:hover {
  background-color: var(--yellow);
  color: var(--black);
}
.sc-hero .hero-content .text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
@media (max-width: 767px) {
  .sc-hero .hero-content .text-area {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.sc-hero .hero-content .text-area .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 380px;
  color: var(--yellow);
  text-transform: uppercase;
  font-weight: 800;
}
.sc-hero .hero-content .text-area::before, .sc-hero .hero-content .text-area::after {
  content: "";
  display: block;
  background: url(../images/deco_yellow.svg) center no-repeat;
  width: 15px;
  height: 15px;
}
@media (max-width: 767px) {
  .sc-hero .hero-content .text-area::before, .sc-hero .hero-content .text-area::after {
    display: none;
  }
}
.sc-hero .hero-bg {
  z-index: -1;
  background-image: url(../images/hero_bg.jpg);
  background-position: 20% 70%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
@media (max-width: 991px) {
  .sc-hero .hero-bg {
    background-position: 30% 60%;
    background-size: cover;
  }
}
.sc-hero .hero-gradient {
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 21, 21, 0)), to(#151515));
  background-image: linear-gradient(rgba(21, 21, 21, 0), #151515);
  height: 306px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.sc-hero-add {
  background-color: var(--bg-color);
}
.sc-hero-add .add-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24rem 0 16rem 0;
}
.sc-hero-add .add-area .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sc-hero-add .add-area .text-wrap .text {
  mix-blend-mode: difference;
  position: sticky;
  top: 240px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sc-hero-add .add-area .text-wrap .text strong {
  font-family: "a", sans-serif;
  color: var(--yellow);
  text-align: center;
  text-transform: uppercase;
  font-family: "a", sans-serif;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 4.6rem;
}
@media (max-width: 767px) {
  .sc-hero-add .add-area .text-wrap .text strong {
    font-size: 2.8rem;
    line-height: 3.4rem;
  }
}
.sc-hero-add .add-area .text-wrap .empty-space {
  height: 130vh;
}
.sc-hero-add .add-area .img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.sc-hero-add .add-area .img-wrap .img-box {
  position: absolute;
}
.sc-hero-add .add-area .img-wrap .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-hero-add .add-area .img-wrap .img-box.b1 {
  width: 11rem;
  height: 19rem;
  top: 60rem;
  left: 75rem;
}
.sc-hero-add .add-area .img-wrap .img-box.b2 {
  width: 17rem;
  height: 26rem;
  top: 54rem;
  left: 28rem;
}
@media (max-width: 767px) {
  .sc-hero-add .add-area .img-wrap .img-box.b2 {
    left: 192rem;
  }
}
.sc-hero-add .add-area .img-wrap .img-box.b3 {
  width: 30rem;
  height: 40.4rem;
  top: 82.4rem;
  left: -0.06rem;
}
@media (max-width: 991px) {
  .sc-hero-add .add-area .img-wrap .img-box.b3 {
    left: -19rem;
  }
}
.sc-hero-add .add-area .img-wrap .img-box.b4 {
  width: 17rem;
  height: 27rem;
  top: 84rem;
  left: 50rem;
}
@media (max-width: 991px) {
  .sc-hero-add .add-area .img-wrap .img-box.b4 {
    left: 37.3rem;
  }
}
.sc-hero-add .add-area .img-wrap .img-box.b5 {
  width: 20rem;
  height: 32rem;
  top: 97rem;
  bottom: auto;
  left: auto;
  right: 42rem;
}
@media (max-width: 767px) {
  .sc-hero-add .add-area .img-wrap .img-box.b5 {
    display: none;
  }
}
.sc-hero-add .add-area .img-wrap .img-box.b6 {
  width: 32rem;
  height: 44rem;
  top: 99rem;
  bottom: 62%;
  left: auto;
  right: 0.6rem;
}
@media (max-width: 991px) {
  .sc-hero-add .add-area .img-wrap .img-box.b6 {
    top: 118rem;
    right: 4rem;
  }
}
.sc-hero-add .add-area .img-wrap .img-box.b7 {
  width: 27rem;
  height: 43rem;
  top: 36.6rem;
  bottom: auto;
  left: auto;
  right: 8.8rem;
}
@media (max-width: 767px) {
  .sc-hero-add .add-area .img-wrap .img-box.b7 {
    right: -16.6em;
  }
}
@media (max-width: 991px) {
  .sc-hero-add .add-area .img-wrap .img-box.b7 {
    right: -6.2rem;
  }
}
.sc-hero-add .add-area .img-wrap .img-box.b8 {
  width: 27rem;
  height: 36rem;
  top: 139rem;
  right: 49.4rem;
}
.sc-hero-add .add-area .img-wrap .img-box.b9 {
  width: 32rem;
  height: 48rem;
  top: 134rem;
  bottom: 0%;
  left: auto;
  right: 96rem;
}
.sc-hero-add .add-area .img-wrap .img-box.b10 {
  width: 16rem;
  height: 24rem;
  top: 160rem;
  bottom: auto;
  left: auto;
  right: 8.9rem;
}
@media (max-width: 991px) {
  .sc-hero-add .add-area .img-wrap .img-box.b10 {
    top: 165rem;
  }
}
.sc-hero-add .add-area .img-wrap .img-box.b11 {
  width: 20.8rem;
  height: 27rem;
  top: 203.6rem;
  left: 68.1rem;
}
@media (max-width: 991px) {
  .sc-hero-add .add-area .img-wrap .img-box.b11 {
    left: 59.5rem;
  }
}
.sc-hero-add .add-area .img-wrap .img-box.b12 {
  width: 28.8rem;
  height: 44.8rem;
  top: 212rem;
  bottom: 0%;
  left: 9rem;
}
@media (max-width: 991px) {
  .sc-hero-add .add-area .img-wrap .img-box.b12 {
    left: 2.56rem;
  }
}
.sc-hero-add .add-area .img-wrap .img-box.b13 {
  width: 12.2745rem;
  height: 19.5489rem;
  top: 198rem;
  bottom: 0%;
  left: auto;
  right: 32.6rem;
}
@media (max-width: 991px) {
  .sc-hero-add .add-area .img-wrap .img-box.b13 {
    right: 27.8rem;
  }
}

.sc-content {
  background-color: rgb(21, 21, 21);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sc-content .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}
@media (max-width: 991px) {
  .sc-content .content-wrap {
    gap: 0;
    padding-bottom: 0;
  }
}
.sc-content .highlight-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}
.sc-content .highlight-row1 .desc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 991px) {
  .sc-content .highlight-row1 .desc {
    padding-bottom: 3.2rem;
  }
}
.sc-content .highlight-row1 .desc .paragraph {
  color: var(--yellow);
  width: 882px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 800;
  line-height: 2.5rem;
}
.sc-content .highlight-row1 .desc::before, .sc-content .highlight-row1 .desc::after {
  content: "";
  display: block;
  background: url(../images/deco_yellow.svg) center no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 767px) {
  .sc-content .highlight-row1 .desc::before, .sc-content .highlight-row1 .desc::after {
    display: none;
  }
}
.sc-content .highlight-row2 {
  position: relative;
}
.sc-content .highlight-row2 .thumb-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-list.hidden-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 100%;
  width: 100%;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-list.hidden-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 100%;
  width: 100%;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item {
  background: #f00;
  width: 33.3333333333%;
  height: 50vh;
}
@media (max-width: 991px) {
  .sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item {
    height: 30vh;
  }
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.top-1 {
  background-image: url(../images/hl_row1_1.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.top-2 {
  background-image: url(../images/hl_row1_2.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.top-3 {
  background-image: url(../images/hl_row1_3.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.top-4 {
  background-image: url(../images/hl_row1_4.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.top-5 {
  background-image: url(../images/hl_row1_5.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.top-6 {
  background-image: url(../images/hl_row1_6.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.bottom-1 {
  background-image: url(../images/hl_row2_1.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.bottom-2 {
  background-image: url(../images/hl_row2_2.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.bottom-3 {
  background-image: url(../images/hl_row2_3.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.bottom-4 {
  background-image: url(../images/hl_row2_4.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.bottom-5 {
  background-image: url(../images/hl_row2_5.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .highlight-row2 .thumb-wrap .thumb-box .thumb-item.bottom-6 {
  background-image: url(../images/hl_row2_6.jpg);
  background-position: 50%;
  background-size: cover;
}
.sc-content .sc-service {
  padding-top: 1.6rem;
}
@media (max-width: 991px) {
  .sc-content .sc-service {
    background-color: var(--yellow);
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
  }
}
.sc-content .sc-service .service-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16rem;
  padding-bottom: 16rem;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-wrap {
    gap: 0;
    padding-bottom: 0;
  }
}
.sc-content .sc-service .service-box1 {
  width: 100%;
  padding: 6.4rem 0 6.4rem 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14rem;
  position: relative;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box1 {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
@media (max-width: 767px) {
  .sc-content .sc-service .service-box1 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
.sc-content .sc-service .service-box1 .col-left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sc-content .sc-service .service-box1 .col-left .text-wrap {
  position: sticky;
  top: 48px;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box1 .col-left {
    width: 100%;
  }
  .sc-content .sc-service .service-box1 .col-left .text-wrap {
    position: static;
    gap: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.sc-content .sc-service .service-box1 .col-left .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.6rem;
  height: 90vh;
  opacity: 0;
  visibility: hidden;
}
.sc-content .sc-service .service-box1 .col-left .text-box:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
}
.sc-content .sc-service .service-box1 .col-left .text-box.on {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box1 .col-left .text-box {
    opacity: 1;
    visibility: visible;
    width: auto;
    height: 100%;
    gap: 3.2rem;
  }
  .sc-content .sc-service .service-box1 .col-left .text-box:not(:first-child) {
    position: static;
  }
}
@media (max-width: 767px) {
  .sc-content .sc-service .service-box1 .col-left .text-box {
    gap: 2.4rem;
  }
}
.sc-content .sc-service .service-box1 .col-left .thumb-mob {
  display: none;
  width: auto;
}
.sc-content .sc-service .service-box1 .col-left .thumb-mob img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box1 .col-left .thumb-mob {
    display: block;
    height: 480px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 767px) {
  .sc-content .sc-service .service-box1 .col-left .thumb-mob {
    height: 425px;
  }
}
.sc-content .sc-service .service-box1 .col-left .name {
  margin: 1rem 0;
  color: var(--black);
  text-transform: uppercase;
  font-family: "a", sans-serif;
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 6.12rem;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box1 .col-left .name {
    font-size: 2.8rem;
    line-height: 3.4rem;
  }
}
@media (max-width: 767px) {
  .sc-content .sc-service .service-box1 .col-left .name {
    font-size: 2.1rem;
    line-height: 2.5rem;
  }
}
.sc-content .sc-service .service-box1 .col-left .paragraph {
  font-family: "Epilogue", sans-serif;
  padding-right: 8rem;
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 2.1rem;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box1 .col-left .paragraph {
    max-width: 558px;
    padding-right: 0;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.sc-content .sc-service .service-box1 .col-left .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box1 .col-left .details {
    gap: 16px;
    max-width: 558px;
  }
}
.sc-content .sc-service .service-box1 .col-left .detail-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}
.sc-content .sc-service .service-box1 .col-left .detail-row span {
  font-family: "Epilogue", sans-serif;
  color: var(--black);
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 200;
  line-height: 2.5rem;
}
@media (max-width: 767px) {
  .sc-content .sc-service .service-box1 .col-left .detail-row span {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.sc-content .sc-service .service-box1 .col-left .detail-row.add .add-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}
@media (max-width: 767px) {
  .sc-content .sc-service .service-box1 .col-left .detail-row.add .add-wrap {
    gap: 0.8rem;
  }
}
.sc-content .sc-service .service-box1 .col-left .detail-row.add .add-caption {
  color: var(--black);
  font-weight: 100;
}
@media (max-width: 767px) {
  .sc-content .sc-service .service-box1 .col-left .detail-row.add .add-caption {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
.sc-content .sc-service .service-box1 .col-left .detail-row::before {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--black);
}
@media (max-width: 767px) {
  .sc-content .sc-service .service-box1 .col-left .detail-row::before {
    margin-top: 4px;
  }
}
.sc-content .sc-service .service-box1 .col-left .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--black);
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.5rem;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box1 .col-left .price {
    max-width: 558px;
  }
}
@media (max-width: 767px) {
  .sc-content .sc-service .service-box1 .col-left .price {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.sc-content .sc-service .service-box1 .col-left .btn-shortcut {
  border: 1px solid #000;
  width: 442px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(0, 0, 0);
  font-family: "Epilogue", sans-serif;
  font-weight: 900;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sc-content .sc-service .service-box1 .col-left .btn-shortcut:hover {
  background-color: var(--black);
  color: var(--yellow);
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box1 .col-left .btn-shortcut {
    width: 100%;
  }
}
.sc-content .sc-service .service-box1 .col-left .empty {
  height: 90vh;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box1 .col-left .empty {
    display: none;
  }
}
.sc-content .sc-service .service-box1 .col-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box1 .col-right {
    display: none;
  }
}
.sc-content .sc-service .service-box1 .col-right .thumb-box {
  position: relative;
  cursor: none;
}
.sc-content .sc-service .service-box1 .col-right .thumb-box .hover-cursor {
  opacity: 0;
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--yellow);
  mix-blend-mode: exclusion;
  width: 160px;
  height: 160px;
  pointer-events: none;
}
.sc-content .sc-service .service-box1 .col-right .thumb-box.nmax {
  height: 100%;
  position: relative;
  background-image: url(../images/service1.jpg);
  background-position: 40%;
  background-size: cover;
  overflow: hidden;
}
.sc-content .sc-service .service-box1 .col-right .thumb-box.bmw {
  height: 100%;
  position: relative;
  background-image: url(../images/service2.jpg);
  background-position: 45%;
  background-size: cover;
  overflow: hidden;
}
.sc-content .sc-service .service-box1 .col-right .thumb-box.xadv {
  height: 100%;
  position: relative;
  background-image: url(../images/service3.jpg);
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
}
.sc-content .sc-service .service-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6.4rem;
  padding: 0 3.2rem;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box2 {
    padding-bottom: 6.4rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
@media (max-width: 767px) {
  .sc-content .sc-service .service-box2 {
    gap: 3.2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
.sc-content .sc-service .service-box2 .deco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.sc-content .sc-service .service-box2 .deco::before, .sc-content .sc-service .service-box2 .deco::after {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background: var(--black);
}
.sc-content .sc-service .service-box2 .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sc-content .sc-service .service-box2 .text .btn-shortcut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  border: 1px solid #000;
  width: 910px;
  height: 100px;
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 4.6rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 991px) {
  .sc-content .sc-service .service-box2 .text .btn-shortcut {
    width: auto;
    font-size: 2.8rem;
    line-height: 3.4rem;
  }
}
@media (max-width: 767px) {
  .sc-content .sc-service .service-box2 .text .btn-shortcut {
    height: 6.8rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
  }
}
.sc-content .sc-service .service-box2 .text .btn-shortcut:hover {
  background-color: var(--black);
  color: var(--yellow);
}

.sc-about {
  background-color: var(--bg-color);
}
@media (max-width: 991px) {
  .sc-about {
    padding-top: 4rem;
  }
}
.sc-about .about-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  padding-bottom: 9.6rem;
}
.sc-about .about-wrap .title {
  padding-top: 3.2rem;
}
@media (max-width: 991px) {
  .sc-about .about-wrap .title {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
.sc-about .about-wrap .thumb {
  height: 480px;
}
@media (max-width: 767px) {
  .sc-about .about-wrap .thumb {
    height: 203px;
  }
}
.sc-about .about-wrap .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-about .about-wrap .desc {
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 800;
  line-height: 2.5rem;
}
@media (max-width: 767px) {
  .sc-about .about-wrap .desc {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.sc-about-add {
  padding: 0;
}
.sc-about-add .add-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--bg-color);
}
@media (max-width: 991px) {
  .sc-about-add .add-wrap {
    gap: 3.2rem;
  }
}
@media (max-width: 767px) {
  .sc-about-add .add-wrap {
    gap: 2.4rem;
  }
}
.sc-about-add .add-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}
@media (max-width: 991px) {
  .sc-about-add .add-box:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 991px) {
  .sc-about-add .add-box {
    gap: 3.2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
@media (max-width: 767px) {
  .sc-about-add .add-box {
    gap: 2.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
.sc-about-add .add-box .col-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}
@media (max-width: 991px) {
  .sc-about-add .add-box .col-text {
    width: 100%;
    height: 365px;
    padding: 0 0;
  }
}
@media (max-width: 767px) {
  .sc-about-add .add-box .col-text {
    height: 309px;
  }
}
.sc-about-add .add-box .col-text .deco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.sc-about-add .add-box .col-text .deco::before, .sc-about-add .add-box .col-text .deco::after {
  content: "";
  display: block;
  background: url(../images/deco_yellow.svg) center no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}
.sc-about-add .add-box .col-text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
  color: var(--yellow);
}
.sc-about-add .add-box .col-text .text .title {
  text-transform: uppercase;
  font-family: "a", sans-serif;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 4.6rem;
  text-align: center;
}
.sc-about-add .add-box .col-text .text .paragraph {
  width: 40rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
@media (max-width: 991px) {
  .sc-about-add .add-box .col-text .text .title {
    width: 50.5rem;
  }
  .sc-about-add .add-box .col-text .text .paragraph {
    width: 52rem;
  }
}
@media (max-width: 767px) {
  .sc-about-add .add-box .col-text .text .title {
    font-size: 2.1rem;
    line-height: 2.5rem;
  }
}
.sc-about-add .add-box .col-thumb {
  width: 50%;
  height: 100vh;
  padding: 1.6rem 0;
}
@media (max-width: 991px) {
  .sc-about-add .add-box .col-thumb {
    width: auto;
    height: 365px;
    padding: 0 0;
  }
}
.sc-about-add .add-box .col-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-about-add .add-box-row3 {
  position: relative;
  width: 100%;
}
.sc-about-add .add-box-row3 .form-wrap {
  padding-top: 12.8rem;
  padding-bottom: 12.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .sc-about-add .add-box-row3 .form-wrap {
    padding-top: 9.6rem;
    padding-bottom: 6.4rem;
  }
}
.sc-about-add .add-box-row3 .form-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}
.sc-about-add .add-box-row3 .form-row1 .desc {
  color: var(--yellow);
  text-align: center;
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 2.5rem;
}
@media (max-width: 767px) {
  .sc-about-add .add-box-row3 .form-row1 {
    gap: 2.4rem;
  }
  .sc-about-add .add-box-row3 .form-row1 .desc {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.sc-about-add .add-box-row3 .form-row2 {
  width: 100%;
  height: 100vh;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
@media (max-width: 991px) {
  .sc-about-add .add-box-row3 .form-row2 {
    padding-bottom: 0;
  }
}
.sc-about-add .add-box-row3 .form-row2 .row2-wrap {
  background-image: url(../images/form_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.2rem;
}
.sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}
.sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .paragraph {
  text-align: center;
}
.sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .paragraph .title {
  max-width: 100%;
  font-size: 3.6rem;
  line-height: 44px;
  color: rgb(253, 198, 9);
  overflow-wrap: break-word;
  font-weight: 700;
}
.sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .paragraph .desc {
  margin-top: 1.6rem;
  max-width: 100%;
  font-size: 2rem;
  line-height: 2.8rem;
  color: rgba(253, 198, 9, 0.7);
  overflow-wrap: break-word;
}
@media (max-width: 767px) {
  .sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .paragraph .title {
    font-size: 3rem;
    line-height: 3.7rem;
  }
  .sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .paragraph .desc {
    font-size: 1.6rem;
  }
}
.sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .shortcut-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .shortcut-area .btn-shortcut {
  font-family: "Epilogue", sans-serif;
  text-transform: none;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  padding-block: 0.8rem;
  padding-inline: 1.8rem;
  min-height: 4.8rem;
  background-color: rgb(253, 198, 9);
  color: rgb(0, 0, 0);
  font-size: 2.4rem;
}
@media (max-width: 767px) {
  .sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .shortcut-area {
    position: absolute;
    bottom: 105px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .shortcut-area .btn-shortcut {
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
  }
}
.sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .shortcut-area .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  max-width: 100%;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgb(253, 198, 9);
  font-family: sans-serif;
}
@media (max-width: 767px) {
  .sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .shortcut-area .caption {
    display: none;
  }
}
.sc-about-add .add-box-row3 .form-row2 .row2-wrap .content-box .shortcut-area .caption strong {
  letter-spacing: 0.2px;
  font-weight: bold;
}
.sc-about-add .add-box-row3 .gradient-bg {
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-color)), color-stop(21%, #232014), to(#fdc609));
  background-image: linear-gradient(to bottom, var(--bg-color), #232014 21%, #fdc609);
  width: 100%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.sc-contact {
  background-color: var(--yellow);
  padding: 3.2rem 0;
}
.sc-contact .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16rem;
}
@media (max-width: 991px) {
  .sc-contact .contact-wrap {
    gap: 9.6rem;
  }
}
@media (max-width: 767px) {
  .sc-contact .contact-wrap {
    gap: 6.4rem;
  }
}
.sc-contact .contact-wrap .deco {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sc-contact .contact-wrap .deco::before, .sc-contact .contact-wrap .deco::after {
  display: block;
  content: "";
  background-color: var(--black);
  width: 1.5rem;
  height: 1.5rem;
}
.sc-contact .contact-wrap .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 6.4rem;
}
@media (max-width: 991px) {
  .sc-contact .contact-wrap .text {
    gap: 4.8rem;
  }
}
.sc-contact .contact-wrap .text .contact-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}
.sc-contact .contact-wrap .text .contact-area .title {
  color: var(--black);
  text-transform: uppercase;
  font-family: "a", sans-serif;
  font-size: 6.7rem;
  font-weight: 400;
  line-height: 8.1rem;
}
.sc-contact .contact-wrap .text .contact-area .email, .sc-contact .contact-wrap .text .contact-area .number {
  color: var(--black);
  text-transform: uppercase;
  font-family: "a", sans-serif;
  font-size: 5.1rem;
  font-weight: 400;
  line-height: 6.12rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  text-decoration: none;
  transition: -webkit-text-stroke-color 0.5s, color 0.5s;
}
.sc-contact .contact-wrap .text .contact-area .email:hover, .sc-contact .contact-wrap .text .contact-area .number:hover {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: var(--black);
  outline: 0;
}
@media (max-width: 991px) {
  .sc-contact .contact-wrap .text .contact-area .title {
    font-size: 5.1rem;
    line-height: 6.12rem;
  }
  .sc-contact .contact-wrap .text .contact-area .email, .sc-contact .contact-wrap .text .contact-area .number {
    font-size: 3.8rem;
    line-height: 4.6rem;
  }
}
@media (max-width: 767px) {
  .sc-contact .contact-wrap .text .contact-area .title {
    font-size: 3.8rem;
    line-height: 4.6rem;
  }
  .sc-contact .contact-wrap .text .contact-area .email, .sc-contact .contact-wrap .text .contact-area .number {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
}
.sc-contact .contact-wrap .text .caption {
  color: var(--black);
  text-transform: uppercase;
  font-family: inherit;
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 2.5rem;
}
@media (max-width: 767px) {
  .sc-contact .contact-wrap .text .caption {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.sc-contact .contact-wrap .text .sns-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}
.sc-contact .contact-wrap .text .sns-area .sns {
  color: var(--black);
  text-transform: uppercase;
  font-family: "a", sans-serif;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 4.6rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  text-decoration: none;
  transition: -webkit-text-stroke-color 0.5s, color 0.5s;
}
.sc-contact .contact-wrap .text .sns-area .sns:hover {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: var(--black);
  outline: 0;
}
@media (max-width: 767px) {
  .sc-contact .contact-wrap .text .sns-area .sns {
    font-size: 2.8rem;
    line-height: 3.4rem;
  }
}/*# sourceMappingURL=style.css.map */